.required{color: red;}
.err-msgs span, .err-msgs i {
    color: white;
}

.nav-item.nav-with-child > .nav-item-child
{
    list-style: none;
    height: 0;
    min-height: 0px;
    overflow: hidden !important;
    padding: 0px 1.5rem;
    transition: all 0.5s ease-in-out;
    /* margin-left: 25px; */
}
.nav-item.nav-with-child.nav-item-expanded > .nav-item-child
 {
    padding: 0.5rem 0.5rem;
    position: relative;
    height: auto;
    min-height: 50px;
    display: block;
    transition: all 0.5s ease-in-out;
}

li.nav-item.nav-with-child > a:after {
    content: '\f107';
    position: absolute;
    right: 25px;
    font-family: 'fontawesome';
}

li.nav-item.nav-with-child {
    position: relative;
}

li.nav-item.nav-with-child.nav-item-expanded > a:after {
    content: '\f106';
}


ul.list-inline li {
    display: inline-block;
    margin: 0px 5px;
    width: calc(33% - 100px);
    vertical-align: middle;
}

ul.list-inline li:last-child {
    vertical-align: text-top !important;
    margin-right: 0;
}

ul.list-inline li:first-child {
    margin-left: 0;
}

ul.list-inline li .form-group {
    margin-bottom: 0;
}

ul.list-inline {
    margin-bottom: 0;
}

.bgheader th {
    background: #f1841b;
    color: white !important;
}

.banner-header .img-banner {
    width: 50%;
}

.textcolor-table td, .textcolor-table th {
    color: black;
}

.table-noborder tr th,.table-noborder tr td {
    border: none;
}

.card-body hr{
    border: 1px solid black !important;
    opacity: 1;
}

.content-body {
    color: black !important;
}

.msg-invalid {
    position: relative;
}

.msg-invalid p {
    position: absolute;
    margin: 0;
    width: 100%;
    background: #ff0033c7;
    color: white;
    border-radius: 0px 0px 4px 4px;
    padding: 0px 10px;
    font-size: 12px;
}

.input-empty{
    border-color: rgba(255, 0, 51, 0.78) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

body .td-nospace td, body .td-nospace th {
    white-space: normal;
}

.inline-right {
    float: right;
}
.inline-left {
    float: left;
}

#pengaturan-tab .active {
    background: #f9820f;
    width: 100% !important;
    color: white;
  }


  #msg-berkas .proses {
    font-size: 12px;
    background: #868686;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }

  #msg-berkas .gagal {
    font-size: 12px;
    background: #f00808;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }
  #msg-berkas .sukses {
    font-size: 12px;
    background: #166801;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }
  #msg-berkas {
    margin-bottom: 15px;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
  }

  .tb-ql tr, .tb-ql tr th, .tb-ql tr td {
    border: 0 !important;
    color: black;
    padding: 0;
  }

    #sep .ttd {
    text-align: center;
  }
  #sep .ttd p {
    color: black;
  }


#sep .catatan,#sep .footnote {
    color: black;
    font-size: 12px;
  }


.rekon-header {
    display: inline-block;
    width: 49%;
  }
  .rekon-header img {
    width: 100% !important;
  }
  .rekon-header .norekon {
    text-align: right;
    color: black;
    font-size: 18px;
  }

#rencana-kontrol .footnote {
    font-size: 12px;
    margin-top: 100px;
  }

  #rencana-kontrol .ttd-dpjp {
    text-align: center;
    color: black;
  }


#rencana-kontrol .ttd-dpjp {
    text-align: center;
    color: black;
  }
  #rencana-kontrol .keterangan,#rencana-kontrol .footnote {
    color: black;
  }

  .sep-header-prolanis {
    display: inline-block;
    width: 49.3333333%;
  }
  .sep-header-prolanis .img-banner {
    width: 100% !important;
  }

/* MOBILE */
@media only screen and (max-width: 800px) {

    body ul.list-inline li {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    body ul.list-inline li .form-group {
        margin-bottom: 10px;
    }
    
    body ul.list-inline li .form-group button {
        width: 100%;
    }
}

td.align-middle a.download-filelists,td.align-middle a.detail-kekurangan {
  display: inline-block;
  width: 45% !important;
  padding: 4px 0px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .modalloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modalloading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalloading {
    display: block;
}